<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="image" content="/assets/ALVINE'S FIRST DESIGN.jpg">
    <title>Agromate</title>
    
    
</head>
<body>
    <div class="box">
        <p>Welcome to,</p>
        <h1>AgroMate</h1>
        
    <button><img class="logo" src="/assets/facebook logo.jpg">Login with facebook<a href="facebook.com"></a></button>
    <button><img class="google" src="/assets/google logo.png">Login with google<a  class="g" href="google.com"></a></button>
    
    <label for="email" class="name">Name<input type="name" id="name" required></label>
    <label for="email" class="email">Email<input type="email" id="email" required></label>
            <label for="password" class="password">Password<input type="password" id="password" required></label>
           <input type="submit" value="login">
           <p>Alreary have an account, <a>sign in</a></p>
    </div>
    
</body>
</html>